[Unit]
Description=Mattermost
After=syslog.target network.target

[Service]
User=mattermost
WorkingDirectory=/opt/mattermost/bin
ExecStart=/opt/mattermost/bin/platform
PIDFile=/var/spool/mattermost/pid/master.pid
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

